@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

body {
  font-family: 'RobotoDraft', sans-serif;
  color:#777;
  font-weight:300;
}

#mainheader{
  color: #222;
  font-size: 25px;
  font-weight: normal;
}

a.forkMe{
  z-index: 999;
}

div.container > div.left {
  float: left;
  width: 50%;
  padding: 10px 25px 0px 25px;
  box-sizing: border-box;
}
div.container > div.right {
  float: right;
  width: 50%;
  padding: 10px 25px 0px 25px;
  box-sizing: border-box;
}
div.container > div.center {
  float: right;
  width: 100%;
  padding: 10px 25px 0px 25px;
  box-sizing: border-box;
}
div.container:after {
  content:"";
  display: table;
  clear: both;
}
div.container {
  margin-top: 11px;
}

code-editor{
  width: 100%;
  border: solid 1px rgb(119, 119, 119);
  height: 300px;
}

#runTest{
  top: 15px;
  width: 30%;
  left: 35%;
}

html /deep/ paper-button{
  color: #4059a9;
}

#resultDialog{
  width: 450px;
}


@media screen and (max-width: 480px) {
  .left, 
  .right {
    float: none;
    width: auto;
  }
}